body{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

.hasiera-cont{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  overflow: auto;
}

.hasiera-cont-stats{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 5vw;
  flex-wrap: wrap;
}

.hasiera-cont-stats-ind{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(128, 128, 128, 0.322) 0px 0px 10px 1px;
  border-radius: 5px;
  width: 20%;
  padding: 10px;
  color: rgb(59, 59, 59);
  min-width: 100px;
}

.hasiera-cont-stats-ind-num{
  font-size: 40px;
}

.paketeak-cont{
  display: flex;
  flex-direction: column;
  padding-inline: 5vw;
  max-height: 70vh;
}

.paketeak-list{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: auto;
  padding-inline: .3vw;
  max-height: 70vh;
}

.paketeak-list::-webkit-scrollbar {
  display: none;
}


.paketeak-ind{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(128, 128, 128, 0.322) 0px 0px 10px 1px;
  margin-bottom: 25px;
}

.paketeak-ind-top{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 10px;
}

.paketeak-ind-top-left{
  font-size: 25px;
  font-weight: bold;
  flex-grow: 1;
}

.paketeak-ind-top-right{
  color: gray;
  font-size: 20px;
}

.paketeak-ind-center{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 10px;
}

.paketeak-ind-center-left{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.paketeak-ind-center-center{
  display: flex;
  flex-direction: column-reverse;
}

.no-scroll{
  overflow: hidden;
}

.inzidentzia-show-cont{
  padding: 20px;
  flex-grow: 1;
}
/* Inzidentziak estiloa */
.list-group-item.list-group-item-action.py-3.lh-sm:hover {
  background-color: #408cff;
}

.sidebar{
  width: 250px;
}

.inzidentziak-cont{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-grow: 1;
  overflow: auto;
}

.inzidentziak-list{
  width: 300px;
  overflow: auto;
}

@media (max-width: 768px){
  .nav-item-span{
    display: none;
  }

  .sidebar-title{
    display: none;
  }

  .sidebar-user-name{
    display: none;
  }

  .sidebar{
    width: 80px;
  }

  .hasiera-cont-stats-ind{
    width: 100%;
    margin-bottom: 20px;
  }

  .hasiera-cont{
    max-height: fit-content;
  }

  .paketeak-cont{
    max-height: 100vh;
  }

  .paketeak-ind{
    
  }
  
  .paketeak-ind-top{
    
  }
  
  .paketeak-ind-top-left{
    font-size: 15px;
  }
  
  .paketeak-ind-top-right{
    font-size: 10px;
  }
  
  .paketeak-ind-center{
    
  }
  
  .paketeak-ind-center-left{
    font-size: 10px;
  }
  
  .paketeak-ind-center-center{
    
  }

  .paketeak-ind-center-center .btn{
    font-size: 10px;
  }

  .inzidentziak-cont{
    flex-direction: column-reverse;
  }

  .inzidentziak-list{
    width: 100%;
    overflow: auto;
  }

  .login-cont{
    width: 90%;
  }
}