body{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
}

.hasiera-cont{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
}

.hasiera-cont-stats{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 5vw;
  flex-wrap: wrap;
}

.hasiera-cont-stats-ind{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(128, 128, 128, 0.322) 0px 0px 10px 1px;
  border-radius: 5px;
  width: 20%;
  padding: 10px;
  color: rgb(59, 59, 59);
  min-width: 100px;
}

.hasiera-cont-stats-ind-num{
  font-size: 40px;
}

.paketeak-cont{
  display: flex;
  flex-direction: column;
  padding-inline: 5vw;
  max-height: 50vh;
}

.paketeak-list{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: auto;
  padding-inline: .3vw;
  max-height: 60vh;
}

.paketeak-list::-webkit-scrollbar {
  display: none;
}


.paketeak-ind{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(128, 128, 128, 0.322) 0px 0px 10px 1px;
  margin-bottom: 25px;
}

.paketeak-ind-top{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 10px;
}

.paketeak-ind-top-left{
  font-size: 25px;
  font-weight: bold;
  flex-grow: 1;
}

.paketeak-ind-top-right{
  color: gray;
  font-size: 20px;
}

.paketeak-ind-center{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 10px;
}

.paketeak-ind-center-left{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.paketeak-ind-center-center{
  display: flex;
  flex-direction: column-reverse;
}



.no-scroll{
  overflow: hidden;
}

.inzidentzia-show-cont{
  padding: 20px;
}
/* Inzidentziak estiloa */
.list-group-item.list-group-item-action.py-3.lh-sm:hover {
  background-color: #408cff;
}

@media (max-width: 768px){
  .sidebar{
    display: none;
  }
}