.menuButtom {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.kudeatzaileText {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}